---
---

<div class="card-simple  view-card">
    <div class="card-body-wrap">
        <div class="article-metadata">

            <!-- Author -->
            <div class="author">
                {% if entry.author %}{{ entry.author | markdownify | remove: "<p>"  | remove: "</p>" }}{% endif %}
            </div>

            <span class="article-date">
                {% if entry.month %} <span class="bib-fp-month-cap"> {{ entry.month }} </span> {% endif %}
                {% if entry.year %}{{ entry.year }}{% endif %}
            </span>
            {% if entry.status %}
                <span class="middot-divider"></span>
                <span class="pub-publication">
                    {{ entry.status }}
                </span>
            {% endif %}

        </div>


        <div class="section-subheading article-title mb-1 mt-3">
            {{ entry.title }}
        </div>


        <div class="article-style">
            <p>{{ entry.description | markdownify }}</p>
        </div>



        <div class="btn-links">

            {% if entry.pdf %}
                <a class="btn btn-outline-primary btn-page-header btn-sm" href="{{ entry.pdf }}" target="_blank" rel="noopener">
                    PDF
                </a>
            {% endif %}

        </div>

    </div>
</div>
